.splash-root {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #fffaf1;
}

.splash-img {
  position: absolute;
  width: 192px;
  height: auto;

  left: 50%;
  top: 360px;
  transform: translateX(-50%);
}


