/* 전체 배경 */
.login-screen-root {
    height: 100vh;
    background-color: #fffaf1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 20px 40px;
    box-sizing: border-box;
}

/* 중앙 영역 */
.login-screen-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-screen-logo-img {
    width: 192px;
    height: auto;
    margin-bottom: 0px;
}


.login-screen-title {
    font-size: 32px;
    font-weight: 800;
    color: #6b3f1d;
    margin-bottom: 12px;
}

.login-screen-subtitle {
    position: absolute;
    left: 137px;
    top: 468px;

    font-size: 18px;
    font-weight: 500;
    color: #6b3f1d;
    line-height: 1.6;
    text-align: center;
}

/* 하단 영역 */
.login-screen-bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login-screen-login-btn {
    width: 100%;
    height: 52px;
    background-color: #6b3f1d;
    color: #ffffff;
    border: none;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.login-screen-login-btn:active {
    opacity: 0.9;
}

.login-screen-signup {
    font-size: 14px;
    color: #777;
    text-align: center;
}

.login-screen-signup-link {
    color: #6b3f1d;
    font-weight: 700;
    cursor: pointer;
}

@media (min-width: 768px) {
    .login-screen-root {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-screen-center {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-screen-subtitle {
        position: static;
        /* absolute 해제 */
        transform: none;
        margin-top: 16px;
        text-align: center;
        /* ← PC에서는 중앙 */
    }

    .login-screen-bottom {
        position: fixed;
        bottom: 24px;
        left: 0;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .login-screen-login-btn {
        width: 100%;
        height: 56px;
        background-color: #6b3f1d;
        color: #fff;
        border: none;
        border-radius: 16px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
    }

}