.global-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 1000;

  display: flex;
  align-items: center;
  padding: 0 16px;

  background: var(--color-white);
  border-bottom: 1px solid var(--color-border);
}

.global-title {
  font-size: 30px;
  font-weight: 800;
}
